body {
  font-family: 'Ubuntu', sans-serif;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: 0;
}
.formatted {
  width: 450px;
}
.formatted h1 {
  margin-bottom: 30px;
}
.formatted h2 {
  margin-bottom: 24px;
}
.format {
  width: 615px;
  margin: 0;
}
@media (max-width: 1270px) {
  .format {
    width: 392px;
    font-size: 13px;
    float: none;
  }
  .format .links {
    color: #f0664d;
    margin-top: 47px;
    float: none;
  }
}
@media (max-width: 990px) {
  .formatted {
    width: 300px;
    margin-top: 48px;
  }
  .formatted h1 {
    margin-bottom: 30px;
    font-size: 21px;
  }
}
@media (max-width: 970px) {
  .formatted {
    float: left;
  }
}
@media (max-width: 766px) {
  .formatted {
    float: left;
    margin-left: 59px;
    text-align: center;
    width: 600px;
  }
}
@media (max-width: 750px) {
  .links {
    color: #f0664d;
    margin-top: 47px;
  }
  .formatted {
    width: 362px;
    text-align: center;
  }
  .formatted h1 {
    margin-bottom: 30px;
    font-size: 19px;
  }
  .left-content {
    display: none;
  }
  .format {
    width: 400px;
    margin: 0;
  }
}
.l-header {
  border-bottom: 1px solid #e3e3e3;
}
.navbar-brand {
  display: inline-block;
  width: 170px;
  height: 70px;
  background: url('../images/brand.jpg') left center no-repeat;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  border-right: 1px solid #e3e3e3;
}
.navbar-main li {
  border-left: 1px solid #eee;
  margin-top: 9px;
}
.navbar-main li:nth-child(4n) {
  border-right: 0;
}
.navbar-main li.active a {
  border-top: 5px solid #268ae0;
  margin-left: 5px;
}
.navbar-main li.active a.hover {
  background-color: #696E74;
}
ul.nav.navbar-nav {
  margin-top: 10px;
}
a.active {
  background-color: #568897;
}
.navbar-toggle .icon-bar {
  background-color: #000;
}
@media (max-width: 768px) {
  .navbar-nav.navbar-right:last-child {
    margin-right: -50px;
  }
}
.carousel-control.right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  background-color: #e3e3e3;
  width: 56px;
  height: 41px;
  margin-top: 86px;
}
.carousel-control {
  opacity: 1;
  text-shadow: none;
}
.carousel-control.left {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  background-color: #e3e3e3;
  width: 57px;
  height: 39px;
  margin-top: 86px;
  color: #546474;
  padding-top: 6px;
}
.carousel-control.right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  background-color: #e3e3e3;
  width: 57px;
  height: 39px;
  margin-top: 86px;
  color: #546474;
  padding-top: 6px;
}
.block-is-circled {
  position: relative;
  width: 160px;
  height: 160px;
  margin: 0 auto;
  border-radius: 100%;
  background: #eff4f8;
}
.block-is-circled .block-image {
  padding: 30px;
}
.block-is-circled:after {
  position: absolute;
  top: 230px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 10px;
  height: 40px;
  content: '';
  background: #f3f2f2;
}
.services-list {
  position: relative;
}
.services-list:before,
.services-list:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  content: '';
  margin: auto;
}
.services-list:before {
  bottom: -421px;
  width: 80%;
  background: #f3f2f2;
  height: 8px;
}
.services-list:after {
  bottom: -500px;
  width: 10px;
  height: 140px;
  background: #f3f2f2;
}
.services-item {
  float: left;
  width: 20%;
}
.kids {
  margin-top: 340px;
}
@media (max-width: 1000px) {
  .kids {
    margin-top: 197px;
  }
  :before {
    display: none;
  }
  :after {
    display: none;
  }
  .services-item {
    float: left;
    width: 17%;
    margin-bottom: 8px;
    margin-right: 21px;
  }
  .block-is-circled .block-image {
    padding: 14px;
  }
  .block-is-circled {
    position: relative;
    width: 140px;
    height: 140px;
    margin: 0 auto;
    border-radius: 100%;
    background: #eff4f8;
  }
}
@media (max-width: 750px) {
  .kids {
    margin-top: 197px;
  }
  :before {
    display: none;
  }
  :after {
    display: none;
  }
  .services-item {
    float: left;
    width: 100%;
    margin-bottom: 8px;
  }
}
.content {
  width: 600px;
  color: #000;
}
.content li {
  display: inline-block;
  color: #b6b6b6;
}
.content ul {
  padding-left: 3px;
}
.links {
  color: #f0664d;
  margin-top: 47px;
  float: left;
}
.links a {
  width: 130px;
  border: 2px solid #f0664d;
  border-radius: 7px;
  height: 43px;
  padding-top: 8px;
  padding-left: 14px;
  padding-right: 16px;
  padding-bottom: 8px;
  color: #f0664d;
}
.monitor {
  float: right;
}
.section {
  padding: 30px 0;
}
.section-title {
  color: #104271;
  text-align: center;
  font-family: sans-serif;
}
.section--slider {
  border-right: 1px solid #e3e3e3;
  padding: 0;
}
.section--slider .formatted h1 {
  color: #000000;
  font-family: sans-serif;
}
.section--slider .format {
  width: 615;
}
.section--slider i.fa.fa-circle {
  color: #226cb1;
  margin-left: -52px;
}
.loading {
  border: 3px solid #226cb1;
}
.section--skin-gray {
  background: #eff4f8;
  text-align: center;
}
.section--skin-gray h3 {
  margin: auto;
}
.section--skin-gray .col-md-4 {
  margin-top: 33px;
}
.section--skin-white {
  padding: 60px 0;
  text-align: center;
}
.section--skin-white .section-title {
  margin-bottom: 40px;
}
.section--skin-white .line {
  width: 8px;
  height: 30px;
  background-color: #f3f2f2;
  margin-top: 25px;
  margin-left: 52px;
}
.section--skin-white .bar {
  width: 972px;
  height: 8px;
  background-color: #f3f2f2;
  margin-left: 150px;
  margin-top: 35px;
}
.section--skin-white .section-content {
  max-width: 600px;
  margin: 20px auto 0;
}
.uline {
  background-color: #f3f2f2;
  width: 8px;
  height: 128px;
  align-content: middle;
  margin: auto;
}
.section--skin-blue {
  background: #226cb1;
  text-align: center;
}
.section--skin-blue .section-title {
  color: #fff;
  text-align: center;
  font-family: sans-serif;
}
.section--skin-blue .col-md-3 {
  margin-top: 46px;
  align-content: middle;
  margin-right: 0px;
}
.section--skin-blue label {
  color: #e2f1ff;
}
.section--skin-blue p {
  color: #6d9ecf;
}
@media (max-width: 970px) {
  .carousel-content {
    text-align: center;
  }
}
.l-footer {
  border-bottom: 1px solid #e3e3e3;
}
.footer {
  margin-top: 20px;
}
.footer .socialsite img {
  margin-top: 8px;
}
.footer .socialsite p {
  margin-top: 8px;
}
.footer li {
  list-style: none;
}
.bottom-footer {
  margin-top: 11px;
}
.bottom-footer .col-md-4 {
  float: right;
}
@media (max-width: 770px) {
  .footer {
    text-align: center;
    padding-top: 1px;
    margin-top: 0;
  }
  .footer ul {
    margin-bottom: 2px;
  }
  .footer li {
    list-style: none;
    background-color: #F5F5F5;
    margin-bottom: 3px;
    border-radius: 0px;
    height: 38px;
    padding-top: 8px;
  }
  .footer li a.hover {
    background-color: #000;
  }
  .bottom-footer {
    text-align: center;
    margin-bottom: 13px;
  }
  .socialsite,
  .social-likes {
    margin-top: 12px;
    display: none;
  }
  .navbar-header {
    border: 2px solid #E7E7E7;
    border-radius: 3px;
  }
}
@media (max-width: 750px) {
  .footer {
    text-align: center;
    padding-top: 1px;
    margin-top: 0;
  }
  .footer ul {
    margin-bottom: 2px;
  }
  .footer li {
    list-style: none;
    background-color: #F5F5F5;
    margin-bottom: 3px;
    border-radius: 0px;
    height: 38px;
    padding-top: 8px;
  }
  .footer li a.hover {
    background-color: #000;
  }
  .bottom-footer {
    text-align: center;
    margin-bottom: 13px;
  }
  .socialsite,
  .social-likes {
    margin-top: 12px;
    display: none;
  }
  .navbar-header {
    border: 2px solid #E7E7E7;
    border-radius: 3px;
  }
}
